body {
	background-color:#FFEDDF;
}

.demorow {
	min-height:100vh;
}

table {
	font-size:10px;
	margin-top:30px;
}

td {
	padding:10px 5px 10px 5px;
}

tr {
	border-bottom: 1px solid #ccc;
	height:30px;
}

.headerrow {
	font-weight:600;
}

.hxlrow {
	font-weight:600;
	color: #006989;
}

.section {
	margin-top:30px;
}

.subtitle {
	font-size:2rem;
	font-style:italic;
	color:#777;
}

p {
	font-size:1.6rem;

}

#map4 {
	width:100%;
	height:500px;
}